env/*
__pycache__/*
.cache/*
.config/*
.local/*
.mongodb/*
.ssh/*
.vscode/*
adapt-web/*
env/*
bin/*
.bash_history
.bash_logout
.bashrc
.fishsrv.pl
.gitconfig
.lesshst
.profile
.python_history
.sudo_as_admin_successful
